html,body{ margin:0; padding:0; height:100%; width:100%; }
#full-size{
  height:100%;
  width:100%;
  overflow:hidden; 
}

button {
  border-radius: 10px;
  box-shadow: none;
  border-color: beige;
  background-color:cadetblue;
}

input[type=button] {
  border-radius: 10px;
  box-shadow: none;
  border-color: beige;
  background-color:cadetblue;
}

button:hover {
  border-radius: 10px;
  border-color: black;
  background-color: #5f9eff;
}

input[type=button]:hover {
  border-radius: 10px;
  border-color: black;
  background-color: #5f9eff;
}

input[type=text],input[type=email],input[type=password],textarea {
  background-color: lightcyan;
  border-radius: 10px;
  border-color: lightgreen;
}

input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover {
  background-color:aliceblue;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trigger-button{
  position: absolute;
  right: 0;
  z-index: 10000;
}


div {
  height: 100%;
}

.App {
  width: 100%;
  position: static;
}

.profile {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 90%;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  display: inline-block;
  
  /* opacity: 0; */
}

.profile-header {
  height: 5%;
  color: rgb(20, 87, 67);
  background-image: linear-gradient(rgb(176, 252, 201), rgba(111, 142, 232, 1));
  border-radius: 0px 30px 0px 0px;
}

.profile-page {
  height: 95%;
  background-image: linear-gradient(rgba(111, 142, 232, 1), rgba(255, 240, 245, 1));
  border-radius: 0px 0px 30px 0px;
}

.profile-form {
  display: inline-block;
}
.profile-form label {
  margin-top: 10px;
  min-width: 60%;
}

.profile-form textarea {
  min-width: 60%;
}

.profile-form input {
  min-width: 60%;
}

.chat {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.registration-form label {
  display: flex;
  justify-content: center;
}

#label-textarea {
  margin-top: 50px;
}

textarea{
  min-width: 200px;
  min-height: 200px;
  max-width: 280px;
  max-height: 280px;
}

.vhod-button {
  margin-top: 50px;
  margin-right: 20px;
}

.user-data {
  height: 100%;
}

.profile-content {
  height: 90%;
}

.profile-footer {
  height: 10%;
}

.edit-profile-form {
  height: 90%;
}

.edit-profile-toggle-button {
  height: 10%;
}

.profile-footer input {
  margin-right: 20px;
}

.authentication-form {
  display: block;
  justify-content: center;
  align-items: center;
}

.authentication-form * {
  width: auto;
  display: inline-block;
  width: 51%;
  margin-top: 10px;
}

.chat-class {
  display: flex;
  outline: 1px solid black;
}

.post-detail {
  width: 70%;
  height: 100%;
  outline: 1px solid cyan;
}

.posts {
  width: 30%;
  height: 100%;
  outline: 1px solid yellow;
}

.post-list-header {
  height: 5%;
  outline: 1px solid pink;
}

.post-list {
  height: 90%;
  outline: 1px solid purple;
}

.posts-add-new {
  height: 5%;
  outline: 1px solid black;
}

.posts-add-new input {
  margin-top: 8px;
}
